.container {
  display: flex;
}

.menu-lateral {
  background-color: #1B5C94;
  color: white;
  padding: 20px;
  width: 200px;
  height: 100vh;
  display: flex; /* Agrega esta propiedad */
  flex-direction: column; /* Agrega esta propiedad */
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-lateral li {
  margin-bottom: 10px;
}

.menu-lateral a {
  color: white;
  text-decoration: none;
}

.content {
  width: 100%;
  padding: 20px;
}
.menu-lateral a {
  cursor: pointer;
}