.App {
  text-align: center;
}

/* Estilos para el header global */
.App-header {
  background-color: #1B5C94;
  color: white;
  height: 10vh; /* 10% de la altura de la ventana */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para la imagen del logo */
.App-logo {
  width: 10%;
  height: 90%;
}

/* Estilos para el botón "Soy Asesor" */
.asesor-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1B5C94;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.asesor-button:hover {
  background-color: #164f7b;
}
